*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.carousel{
	width: 100%;
}
.navbar-default{
	margin: 0;
	background-color: #FFF059; /*amarillo*/
}
.navbar-default .navbar-nav>li>a {
	color: #42423f; /*gris*/
}
.navbar-default .navbar-brand{
	color: #42423f; /*gris*/
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: white;
}
.navbar-form .btn-default .fa{
	font-size: 14px;
}
.navbar-form .btn{
	padding: 0;
}
.navbar-form .form-control{
	width: 500px;
}
.carousel-inner{
	max-height: 80vh;
}
.carousel-inner img{
	height: auto;
}
.tour{
	padding: 50px;
}
h2{
	padding: 20px;
}

.testimonios{
	padding: 80px;
}

label{
	color: white;
}
.fa{
	font-size: 30px;
	padding: 10px;
	text-align: center;
}
.fa:hover{
	color: #fa8072;
}
form{
	padding: 60px;
}

footer{
	padding: 30px;
	background: #565652;
}
footer i{
	color: black;
	font-size: 12px;
}

/************************/

.filtros{
	background-color: #fff;
	text-align: center;
	color: #42423f; /*gris*/
}
.filtros h1{
	padding: 20px;
}
.filtros a{
	color: #fff;
	margin: 5px;
	font-weight: bold;
	text-decoration: none;
}
.filtros a#cumple{
	background-color: #bbe069;
	padding: 20px;
}
.filtros a#cumple:focus{
	background-color: #DCF4A8;
	color: #565652;
}

.filtros a#asado{
	background-color: #FF6B6B;
	padding: 20px;
}
.filtros a#asado:focus{
	background-color: #FABBBB;
	color: #565652;
}

.filtros a#matri{
	background-color: #C44D9B;
	padding: 20px;
}
.filtros a#matri:focus{
	background-color: #EDB5DA;
	color: #565652;
}

.filtros a#fiesta{
	background-color: #4ECDC4;
	padding: 20px;
}
.filtros a#fiesta:focus{
	background-color: #AFEAE6;
	color: #565652;
}
#cantiID{
	margin-top: 30px;
	margin-bottom: 20px;
}
#cantiID p, #cantiID input, #cantiID button.planificar{
	display: inline-block;
}
#cantiID input{
	width: 80px;
	line-height: 30px;
}
.linea{
	width: 600px;
	height: 1px;
	margin: auto;
	background-color: #42423f; /*gris*/
	margin-bottom: 5px;
}
.calendario{
	width: 300px;
	margin: auto;
	padding-left: 100px;
	
}
.calendario td{
	color: black;
}
.calendario a{
	color: black;
}
button.planificar {
	background-color: #42423f; /*gris*/
	color: #fff;

	border: none;
	border-radius: 4px;
	padding: 10px;
	margin: 0 10px;
}
.hiden{
	display: none;
}
.fecha{
	padding: 20px;
}

button.buscar{
	color: #595956;
	background-color: #ecef32;
	width: 200px;
	border: none;
	font-size: 30px;
	border-radius: 4px;
	margin-bottom: 20px;	
}
button.buscar a{
	color: #595956;
}
.bisca{
	text-align: right;
	padding-right: 100px;
}

